@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
:root {
  --main-color: #feaf00;
  --input-color: #E5E5E5;
  --placeholder: #CDCDCD;
  --text-color: #6C6C6C;
  --delete: #FE0000;
  --dashbord-color: #F2EAE1;
  --yellow: #F8D442;
  --pagenation-font: Open Sans 
}
li {
  list-style: none;
}